https://www.kaggle.com/varshapandey/assignment-data

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from pylab import rcParams
rcParams['figure.figsize'] = 8,6
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col 
spark = SparkSession.builder.master("local").getOrCreate()

In [3]:
sdf = spark.read.csv('data/assignment-data/Assignment- Membership woes.csv', header=True)

In [5]:
sdf.limit(5).toPandas()

,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD),END_DATE (YYYYMMDD)
0,A00001,29,113125,M,M,25200000,1,TYPE-B,45,2,ANNUAL,477,INFORCE,20060914,None
1,A00002,38,112220,M,M,10339200,1,TYPE-B,36,3,QUARTERLY,255,INFORCE,20061102,None
2,A00003,12,100000,M,M,14400000,1,TYPE-B,42,1,ANNUAL,7866,INFORCE,20070124,None
3,A00004,12,100000,M,M,9000000,1,TYPE-B,39,2,ANNUAL,200533,INFORCE,20070122,None
4,A00005,46,100000,M,M,4800000,1,TYPE-B,27,2,QUARTERLY,6988,INFORCE,20070131,None

In [6]:
sdf.count()

10362

In [9]:
sdf.summary().toPandas()

,summary,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD),END_DATE (YYYYMMDD)
0,count,10362,10362,10362,7765,9751,8608,10362,10362,10362,10362,10362,10362,10362,10362,3143
1,mean,None,29.39500096506466,178812.16770025206,None,None,1451099.5539033457,1.7110185095454986,None,46.79849449913144,1.4122756224667052,None,714278.8162339543,None,2.0108275117448367E7,2.011390365351575E7
2,stddev,None,22.427711543052915,268874.7095966414,None,None,1.7571744375046708E7,1.4539602826535838,None,13.89708494038188,1.1451360629741296,None,435517.0199958101,None,17196.66369669409,13784.830157863244
3,min,A00001,100,0,D,F,1000008,1,TYPE-A,0,0,ANNUAL,..,CANCELLED,20060914,20070827
4,25%,None,12.0,100000.0,None,None,399996.0,1.0,None,37.0,0.0,None,343344.0,None,2.0091231E7,2.0101219E7
5,50%,None,19.0,118207.81,None,None,549996.0,1.0,None,46.0,1.0,None,687200.0,None,2.0101231E7,2.0111127E7
6,75%,None,37.0,190000.0,None,None,9.99999996E8,2.0,None,57.0,2.0,None,1143955.0,None,2.0121231E7,2.0130125E7
7,max,A10366,99,999999.99,W,M,999999996,NA,TYPE-B,92,3,SINGLE-PREMIUM,99966,INFORCE,20131129,20131125

In [23]:
sdf.select(to_date(col('START_DATE (YYYYMMDD)'), 'yyyyMMdd')).limit(100).show()

+--------------------------------------------+
|to_date(`START_DATE (YYYYMMDD)`, 'yyyyMMdd')|
+--------------------------------------------+
|                                  2006-09-14|
|                                  2006-11-02|
|                                  2007-01-24|
|                                  2007-01-22|
|                                  2007-01-31|
|                                  2007-02-15|
|                                  2007-02-21|
|                                  2007-03-12|
|                                  2007-03-16|
|                                  2007-03-30|
|                                  2007-03-30|
|                                  2007-03-30|
|                                  2007-03-28|
|                                  2007-03-30|
|                                  2007-03-30|
|                                  2007-03-30|
|                                  2007-04-24|
|                                  2007-04-25|
|                                  2007-06-05|
|                                  2007-05-07|
+--------------------------------------------+
only showing top 20 rows